
// Documentation: <https://getbootstrap.com/docs/5.0/utilities/api/>
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/utilities';

$utilities: map-merge(
  $utilities,
  (
    // w-{num}
    'width':
      map-merge(
        map-get($utilities, 'width'),
        (
          values:
            map-merge(
              map-get(map-get($utilities, 'width'), 'values'),
              (
                90: 90%,
              )
            ),
        )
      ),
    // mw-N
    'max-width':
      map-merge(
        map-get($utilities, 'max-width'),
        (
          values:
            map-merge(
              map-get(map-get($utilities, 'max-width'), 'values'),
              (
                none: none,
                12rem: 12rem,
                20rem: 20rem,
                40vw: 40vw,
              )
            ),
        )
      ),
    // Bootstrap does not seem to have any built-in defintions for min-width
    'min-width':
      (
        property: min-width,
        class: minw,
        values: (
          5rem: 5rem,
          40rem: 40rem,
          60vw: 60vw,
          75vw: 75vw,
        ),
      ),
    // wf-{num}
    'width-fixed':
      (
        property: width,
        class: wf,
        values: (
          0: 0,
          1: 0.25rem,
          2: 0.5rem,
          3: 1rem,
          4: 1.5rem,
          5: 3rem,
          2rem: 2rem,
        ),
      ),
    // wh-{num}
    'height-fixed':
      (
        property: height,
        class: hf,
        values: (
          0: 0,
          1: 0.25rem,
          2: 0.5rem,
          3: 1rem,
          4: 1.5rem,
          5: 3rem,
          1px: 1px,
          2rem: 2rem,
          50vh: 50vh,
          60vh: 60vh,
          70vh: 70vh,
        ),
      ),
    // mh-{num}
    'max-height':
      map-merge(
        map-get($utilities, 'max-height'),
        (
          values:
            map-merge(
              map-get(map-get($utilities, 'max-height'), 'values'),
              (
                none: none,
                10rem: 10rem,
                40vh: 40vh,
                50vh: 50vh,
                70vh: 70vh,
              )
            ),
        )
      ),
    // minh-{num}
    'min-height':
      (
        property: min-height,
        class: minh,
        values: (
          10vh: 10vh,
        ),
      ),
  )
);

$reactSelectPrefixes: ('bsrs', 'rs');

@each $prefix in $reactSelectPrefixes {
  .#{$prefix}__placeholder {
    opacity: 0.5;
  }
}

::placeholder {
  opacity: 0.5 !important;
}

@import 'bootstrap/scss/bootstrap';
